<HTML>

    <HEAD>
    
    
    <title>Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
    <script src="../scripts/basket.js"></script>     
    <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="../css/mediumish.css" rel="stylesheet">
      <script src="../scripts/backoffice-orders.js"></script>    
      <link rel='stylesheet' href="css/main.css"></style>  
    </HEAD>
    <BODY>
      <%- include('../partials/backoffice-navbar',{user:user,current:'orders'});%>
      <p>-</p>
       <button id="add">Add</button>
       <div class = 'filter'>
           <div>
            <label for='dateFrom'>From date:</label>
            <input value='<%=value.dateFrom%>' type='datetime-local' id='dateFrom'>
            <label for='dateTo'>To date:</label>
            <input value='<%=value.dateTo%>' type='datetime-local' id='dateTo'>
           </div>
           <div>
            <label for='user'>User:</label>
            <input type='text' value='<%=value.name%>' id='user'>
           </div>
            <div>
              <label for='priceLower'>More than or equal to price:</label>
              <input value='<%=value.priceLower%>' type='number' step='0.01' id='priceLower'>
                <label for='priceUpper'>Les than or equal to price:</label>
                <input value='<%=value.priceUpper%>' type='number' step='0.01' id='priceUpper'>
            </div>
            <div>
                <label for='status'>Status:</label>
                <select id='status'>
                  <option selected value="0">None</option>
                    <% statuses.forEach((status)=>{%>
                      <%if(status.id==value.status){%>
                        <option selected value="<%=status.id%>"><%=status.name%></option>
                        <%}else{%>
                          <option  value="<%=status.id%>"><%=status.name%></option>
                        <%}%>
                                
                                
                    <%})%>
                </select>
            </div>
            <button id='filter-button'>Fillter</button>
       </div>
        <table>
            <tr>
              <th>ID</th>
              <th>Time Stamp</th>
              <th>User</th>
              <th>Price</th>
              <th>Status</th>
              <th></th>
            </tr>
            <% orders.forEach((order)=>{%>
                <tr>
                    <td class="number"><%=order.id%></td>
                    <td class="text"><%=order.time_of_creation.getFullYear()%>-<%=order.time_of_creation.getMonth()<8?'0'+(order.time_of_creation.getMonth()+1):(order.time_of_creation.getMonth()+1)%>-<%=order.time_of_creation.getDay()%> <%=order.time_of_creation.getHours()<9?'0'+order.time_of_creation.getHours():order.time_of_creation.getHours()%>:<%=order.time_of_creation.getMinutes()<9?'0'+order.time_of_creation.getMinutes():order.time_of_creation.getMinutes()%>  </td>
                    <td class="text"><%=order.name_of_user%></td>
                    <td class="number"><%=order.price%> <%=currency%></td>
                    <td class="text"><%=order.status%></td>
                    
                    <td> 
                         <button class="view" id="<%=order.id%>">View</button>
                         <button class="update" id="<%=order.id%>" >Update status</button>  
                    </td>
                </tr>
                
            <%});%>
          </table>
    
          <div style="background-color: seagreen; width:200px;  position: absolute;left: 50%;top: 50%;" id="status-modal">
            <h3><b id='qwer'>Update Status</b></h3>
            <select id='status-update'>
                <% statuses.forEach((status)=>{%>
                            <option  value="<%=status.id%>"><%=status.name%></option>
                            
                <%})%>
             </select>
              <button id="button-update-status" >Update</button>
            </div>
          </div>
    
    </BODY>
    </HTML>