<HTML>

    <HEAD>
    
    
    <title>Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
    <script src="../scripts/basket.js"></script>     
    <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="../css/mediumish.css" rel="stylesheet">
      
      <link rel='stylesheet' href="../css/main.css"></style>  
    </HEAD>
    <BODY>
      <%- include('../partials/backoffice-navbar',{user:user,current:'curent'});%>
      <p>-</p>
            
            <form action="/update-book" method="POST" enctype="multipart/form-data">
              <input type="hidden" id="isbn" name="isbn" value="<%=book.isbn%>">
              <img  src="<%=book.cover%>">
              
                   <div>
                    <label> ISBN: <%=book.isbn%></label>       
                    <label for="name">Image Link:</label>
                    <input type="text" id="link" name="link" value="<%=book.cover%>">
                    <input type="file" id="cover" name="cover" value="<%=book.cover%>">
                  </div>
                  <div>
                    
                    <label for="name">Name:</label> 
                    <input type="text" id="name" name="name" value="<%=book.name%>">
                    <label for="autor">Autor:</label>
                    <input type="text" id="autor" name="autor" value="<%=book.autor%>">
                  </div>
                  
                  
                  <div>
                    <label for="price">Enter price:</label>
                    <input type="number" step=0.01 id="price" name="price" value="<%=book.price%>">
                    <label for="amount">Enter number of books:</label>
                    <input type="number"  id="amount" name="amount" value="<%=book.amount%>">
                  </div>  
                  <div>
                      <label for="gener">Gener:</label>
                      <select id="gener" name="gener">
                        
                        <% geners.forEach((gener)=>{%>
                            <% if(gener.name===book.gener) {%>
                                <option selected value="<%=gener.id%>"><%=gener.name%></option>
                                <%}else{%>
                                    <option  value="<%=gener.id%>"><%=gener.name%></option>
                                    <%}%>
                        <%})%>
                      </select>
                  </div>
           
            
            <button id="submit" > Submit</button>
            
            </form>     
    
    
    </BODY>
    </HTML>