<HTML>

    <HEAD>
    
      <%- include('../partials/backoffice-navbar',{user:user,current:curent});%>
      <p>-</p>
    <title>Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
    <script src="../scripts/basket.js"></script>     
    <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="../css/mediumish.css" rel="stylesheet">
      <script src="../scripts/backoffice-users.js"></script>    
      <link rel='stylesheet' href="css/main.css"></style>  
    </HEAD>
    <BODY>
      <label>CRUD users</label>
        <table>
            <tr>
              <th>id</th>
              <th>UserName</th>
              <th>Email</th>
              <th>Valid</th>
              <th></th>
            </tr>
            <% locals.update = (permitions.findIndex(element => element.id == 15)!= -1) ? 1 : 0;%>
            <% locals.delete = (permitions.findIndex(element => element.id == 16)!= -1) ? 1 : 0;%> 
            <% users.forEach((user)=>{%>
                <tr>
                    <td><%=user.id%></td>
                    <td><%=user.username%></td>
                    <td><%=user.email%></td>
                    <td> 
                      <% if( locals.update == 1){%>
                        <button class="update" id="<%=user.id%>">Update</button>  
                      <%}%>
                      <% if( locals.delete == 1){%>
                        <button class="delete" id='<%=user.id%>'>Delete</button>
                      <%}%>
                    </td>
                </tr>
                
            <%});%>
          </table>
    
    
    
    </BODY>
    </HTML>